Flask==0.12
Flask-Hashing==1.1
Flask-PyMongo==0.4.1
gunicorn==19.6.0
ipython==5.2.2
pymongo==3.11.3
Flask_WTF==0.14.2
Flask-Script==2.0.5
Flask-Moment==0.5.1
werkzeug==0.16.1
email-validator==1.1.2
dnspython==2.1.0
