{% extends "layout.html" %}
{% block body %}
{% import "macros.html" as macros %}

<div class="container-wrap main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2><i class="fa fa-trash-o"></i> Borrar cuenta de usuario</h2>
        <p>Está seguro que quiere borrar la cuenta?</p>
        <p>Usuario: <strong>{{ sesh.get_username() }}</strong></p>
        <form 
          action="delete_user" 
          method="post" 
          class="login-form"
        >
          {{ form.hidden_tag() }}

          <div class="form-group">
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash-o"></i> Borrar
            </button>
          </div>
        </form>
        <div class="form-group">
          <a href="update_user" class="btn btn-primary"><i class="fa fa-ban"></i> Cancelar - no borrar mi cuenta</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}