<div class="footer container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h4>Source code</h4>
        <p><a href="https://github.com/andrewmontes87/todo-crud-flask" title="https://github.com/andrewmontes87/todo-crud-flask" target="_blank">https://github.com/andrewmontes87/todo-crud-flask</a></p>

        <p>&copy; 2017 | <a href="http://andrewmontes.com" target="_blank" title="andrewmontes.com">andrewmontes.com</a></p>
      </div>
    </div>
  </div>
</div>
