<div class="login-nav container-wrap  ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Panel de Navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">TODO AppList</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% if sesh.get_logged_in() %}
                  <p class="navbar-text">
                    <strong>{{ sesh.get_username() }}</strong> | Puntos: {{ user.score }}
                  </p>
                  <li><a href="dashboard">Tablero</a></li>
                  <li><a href="update_user"><i class="fa fa-user"></i> Actualizar el perfil</a></li>
                  <li><a href="logout"><i class="fa fa-sign-out"></i> Salir</a></li>
                {% else %}
                  <p class="navbar-text">
                    Conectate o crea un usuario para iniciar.
                  </p>
                  <li><a href="new_user"><i class="fa fa-user-plus"></i> Registrar una nueva cuenta</a></li>
                  <li><a href="login"><i class="fa fa-sign-in"></i> Conectate</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
    <div class="row">
      {% include "alert_bar.html" %}
    </div>
  </div>
</div>
