{% extends "layout.html" %}
{% block body %}

<div class="container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Home</h1>
        <p class="lead">This is the home page. value: {{ value }}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis adipisci quo fuga, accusamus hic, ipsum quasi, enim perferendis nemo facere neque porro beatae repudiandae est. Necessitatibus odit perspiciatis, pariatur quas laudantium ipsa dignissimos, possimus sint expedita voluptatibus enim natus. Voluptas voluptatum rem dolorem, accusamus exercitationem eaque quod, sit excepturi expedita.</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}