{% extends "layout.html" %}
{% block body %}

<div class="main container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>TODO List: Flask</h1>
        <p class="lead">A simple TODO list CRUD app built with Flask. Make an account, create notes and save them to your profile.</p>
        <p>Features:</p>
        <ul>
          <li>Account creation + login/logout</li>
          <li>Update or delete your account</li>
          <li>Create, update, delete notes</li>
        </ul>
        <p>Stack:</p>
         <ul>
          <li>Flask</li>
          <li>mLab MongoDB + PyMongo</li>
          <li>Bootstrap</li>
          <li>Heroku</li>
        </ul>       
        <h3>New? Create a new user</h3>
        <a href="new_user" class="btn btn-primary"><i class="fa fa-user-plus"></i> Register a new user account</a>
        <h3>Already have a username? Login</h3>
        <a href="login" class="btn btn-warning"><i class="fa fa-sign-in"></i> Login</a>

      </div>
    </div>
  </div>
</div>


{% endblock %}