{% extends "layout.html" %}
{% block body %}

<div class="main container-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>TODO List: NO TE OLVIDES LAS COSAS!!</h1>
        <p class="lead">Simple aplicacion para anotar las tareas pendiertes y no olvidar nada.</p>

        {% if sesh.get_user_id() %}
          <h3>Ya iniciaste sesión <small>{{ sesh.get_username() }}</small></h3>
          <div class="form-group">
            <a href="dashboard" class="btn btn-primary"><i class="fa fa-list"></i> Ir al tablero</a>
          </div>
          <div class="form-group">
            <a href="logout" class="btn btn-danger"><i class="fa fa-sign-out"></i> Salir</a>
          </div>
        {% endif %}

        {% if not sesh.get_user_id() %}
          <h3>Nuevo? Crea un usuario</h3>
          <a href="new_user" class="btn btn-primary"><i class="fa fa-user-plus"></i> Registrar una nueva cuenta</a>
          <h3>Tenés usuario? Conectate</h3>
          <a href="login" class="btn btn-warning"><i class="fa fa-sign-in"></i> Iniciar</a>
        {% endif %}

        <h4>Prestaciones:</h4>
        <ul>
          <li>Creación de cuentas + Inicio/Salida</li>
          <li>Actualizacion/eliminación de cuenta</li>
          <li>Crear, actualizar, borrar notas</li>
        </ul>

      </div>
    </div>
  </div>
</div>


{% endblock %}