<!doctype html>
<html>
  <head>
    <title>todo_crud_flask: {{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A simple TODO list CRUD app built with Flask. Make an account, create notes and save them to your profile." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="todo_crud_flask: {{ page_title }}"/>
    <meta itemprop="description" content="A simple TODO list CRUD app built with Flask. Make an account, create notes and save them to your profile."/>
    <meta itemprop="image" content="https://todo-crud-flask.herokuapp.com/{{ url_for('static', filename='img/og_img.png') }}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="todo_crud_flask: {{ page_title }}"/>
    <meta name="twitter:description" content="A simple TODO list CRUD app built with Flask. Make an account, create notes and save them to your profile."/>
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src"content="https://todo-crud-flask.herokuapp.com/{{ url_for('static', filename='img/og_img.png') }}" />

    <!-- Open Graph data -->
    <meta property="og:title" content="todo_crud_flask: {{ page_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://todo-crud-flask.herokuapp.com/" />
    <meta property="og:image" content="https://todo-crud-flask.herokuapp.com/{{ url_for('static', filename='img/og_img.png') }}" />

    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="680" />
    <meta property="og:description" content="A simple TODO list CRUD app built with Flask. Make an account, create notes and save them to your profile." />
    <meta property="og:site_name" content="todo_crud_flask: {{ page_title }} | andrewmontes.com" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="page">

    {% include "header.html" %}
    
    {{ moment.include_moment() }}
    
    {% block body %}{% endblock %}

    {% include "footer.html"  %}

    </div>

    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
      crossorigin="anonymous"></script>
    <script>
      // custom js here
    </script>
  </body>
</html>

