{% extends "layout.html" %}
{% block body %}

<div class="container-wrap main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2><i class="fa fa-sign-out"></i> Logout</h2>
        <p>Are you sure you want to logout?</p>
        <form 
          action="logout" 
          method="post" 
          class="login-form"
        >
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.submit(class="btn btn-danger") }}
          </div>
        </form>
        <div class="form-group">
          <a href="dashboard" class="btn btn-primary"><i class="fa fa-arrow-right"></i> No, stay logged in</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}