{% extends "layout.html" %}
{% block body %}
{% import "macros.html" as macros %}
<div class="container-wrap main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2><i class="fa fa-user"></i> Update your user profile</h2>
        <p><strong>Username: {{ user['username'] }}</strong> <small><i>(can't be changed)</i></small></p>
        <p><strong>Date joined: </strong> {{   moment(user['created_at']).format('LLL') }} </p>
        <p><strong>Last updated: </strong> {{  moment(user['updated_at']).fromNow(refresh=True)  }} </p>
        <form 
          action="update_user" 
          method="post"
          >
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}            
            {{ macros.form_errors(form.email) }}
          </div>
          <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
        <div class="form-group">
          <a class="btn btn-warning" href="dashboard"><i class="fa fa-arrow-left"></i> Dashboard</a>
        </div>
        <div class="form-group">
          <a class="btn btn-danger" href="delete_user"><i class="fa fa-trash-o"></i> Delete account</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}